---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Acerca de </a></li>
      </ul>
    </nav>
    <h1>My Astro site</h1>
    <h2>My name is Andre</h2>
    <h3>I'm a software developer in Guatemala</h3>
  </body>
</html>